version: "3"

services:
  app:
    ports:
      - {{ app_ports | default('3000:3000') }}
    image: {{ app_image_name }}:latest
    networks:
      - {{ docker_app_network }}
    restart: always

networks:
  {{ docker_app_network }}:
    name: {{ docker_app_network }}
