beautifulsoup4==4.9.3
apache-airflow-providers-mongo>=1.0.1
apache-airflow-providers-postgres==2.0.0
pypika==0.48.8
requests>=2.25.1
newsapi-python>=0.2.6
twitter>=1.19.2
selenium>=3.141.0
pytest==6.2.4
pytest-mock==3.6.1
newspaper3k>=0.2.8
python-dateutil>=2.8.1
nltk==3.6.2
cuid==0.3
