<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<authorizations>
    <policies>
        <policy identifier="f99bccd1-a30e-3e4a-98a2-dbc708edc67f" resource="/flow" action="R">
{% for group in nifi_groups %}
    {% if 'flow' in group.permissions %}
            <group identifier="{{ group.id }}"/>
    {% endif %}
{% endfor %}
        </policy>
        <policy identifier="b8775bd4-704a-34c6-987b-84f2daf7a515" resource="/restricted-components" action="W">
{% for group in nifi_groups %}
    {% if 'restricted-components' in group.permissions %}
            <group identifier="{{ group.id }}"/>
    {% endif %}
{% endfor %}
        </policy>
        <policy identifier="627410be-1717-35b4-a06f-e9362b89e0b7" resource="/tenants" action="R">
{% for group in nifi_groups %}
    {% if 'tenants' in group.permissions %}
            <group identifier="{{ group.id }}"/>
    {% endif %}
{% endfor %}
        </policy>
        <policy identifier="15e4e0bd-cb28-34fd-8587-f8d15162cba5" resource="/tenants" action="W">
{% for group in nifi_groups %}
    {% if 'tenants' in group.permissions %}
            <group identifier="{{ group.id }}"/>
    {% endif %}
{% endfor %}
        </policy>
        <policy identifier="ff96062a-fa99-36dc-9942-0f6442ae7212" resource="/policies" action="R">
{% for group in nifi_groups %}
    {% if 'policies' in group.permissions %}
            <group identifier="{{ group.id }}"/>
    {% endif %}
{% endfor %}
        </policy>
        <policy identifier="ad99ea98-3af6-3561-ae27-5bf09e1d969d" resource="/policies" action="W">
{% for group in nifi_groups %}
    {% if 'policies' in group.permissions %}
            <group identifier="{{ group.id }}"/>
    {% endif %}
{% endfor %}
        </policy>
        <policy identifier="2e1015cb-0fed-3005-8e0d-722311f21a03" resource="/controller" action="R">
{% for group in nifi_groups %}
    {% if 'controller' in group.permissions %}
            <group identifier="{{ group.id }}"/>
    {% endif %}
{% endfor %}
        </policy>
        <policy identifier="c6322e6c-4cc1-3bcc-91b3-2ed2111674cf" resource="/controller" action="W">
{% for group in nifi_groups %}
    {% if 'controller' in group.permissions %}
            <group identifier="{{ group.id }}"/>
    {% endif %}
{% endfor %}
        </policy>
        <policy identifier="0c1817ad-f37b-4897-a884-f8f8f8c53eb7" resource="/proxy" action="W">
            <group identifier="NIFI_CLUSTER" />
        </policy>
    </policies>
</authorizations>