#!/bin/bash

docker compose -f {{ nifi_home_dir }}/docker-compose.yml run --entrypoint "/bin/bash -c" {{ nifi_name }} "keytool -v -list -keystore {{ nifi_security_keystore }} -storepass {{ nifi_security_keystore_password }}"