services:

  zookeeper:
    image: {{ zookeeper_image }}
    networks:
      - zookeeper_network
    container_name: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

networks:
  zookeeper_network:
    name: {{ zookeeper_network }}
    external: true
