services:

  nifi_registry:
    image: {{ nifi_registry_image }}
    networks:
      - registry_network
    ports:
      - "18443:18443"
    volumes:
      - {{ nifi_registry_home_dir }}/nifi_certs:/opt/certs
      - {{ nifi_registry_data_dir }}/conf:/opt/nifi-registry/nifi-registry-current/conf
    environment:
        AUTH: tls
        TRUSTSTORE_TYPE: JKS
        KEYSTORE_TYPE: JKS
        KEYSTORE_PATH: /opt/certs/{{ nifi_registry_name }}/keystore.jks
        TRUSTSTORE_PATH: /opt/certs/{{ nifi_registry_name }}/truststore.jks
        KEYSTORE_PASSWORD: {{ nifi_registry_keystore_password }}
        TRUSTSTORE_PASSWORD: {{ nifi_registry_truststore_password }}

networks:
  registry_network:
    name: {{ nifi_registry_network }}
    external: true
