#!/bin/bash

docker compose -f {{ nifi_registry_home_dir }}/docker-compose.yml run --entrypoint "/bin/bash -c" nifi_registry "keytool -v -list -keystore {{ nifi_registry_security_keystore }} -storepass {{ nifi_registry_security_keystore_password }}"